@font-face {
  font-display: auto;
  font-family: "Roboto-Mono";
  src: local("Roboto-Mono-Regular"), url("../../fonts/roboto-mono/Roboto-Mono-Regular.woff2") format("woff2"), url("../../fonts/roboto-mono/Roboto-Mono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: auto;
  font-family: "Roboto-Mono-Regular";
  src: local("Roboto-Mono-Regular"), url("../../fonts/roboto-mono/Roboto-Mono-Regular.woff2") format("woff2"), url("../../fonts/roboto-mono/Roboto-Mono-Regular.woff") format("woff");
}

@font-face {
  font-display: auto;
  font-family: "Roboto-Mono";
  src: local("Roboto-Mono-Bold"), url("../../fonts/roboto-mono/Roboto-Mono-Bold.woff2") format("woff2"), url("../../fonts/roboto-mono/Roboto-Mono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: auto;
  font-family: "Roboto-Mono-Bold";
  src: local("Roboto-Mono-Bold"), url("../../fonts/roboto-mono/Roboto-Mono-Bold.woff2") format("woff2"), url("../../fonts/roboto-mono/Roboto-Mono-Bold.woff") format("woff");
}

@font-face {
  font-display: auto;
  font-family: "Roboto-Mono";
  src: local("Roboto-Mono-RegularItalic"), url("../../fonts/roboto-mono/Roboto-Mono-RegularItalic.woff2") format("woff2"), url("../../fonts/roboto-mono/Roboto-Mono-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-display: auto;
  font-family: "Roboto-Mono-RegularItalic";
  src: local("Roboto-Mono-RegularItalic"), url("../../fonts/roboto-mono/Roboto-Mono-RegularItalic.woff2") format("woff2"), url("../../fonts/roboto-mono/Roboto-Mono-RegularItalic.woff") format("woff");
}

@font-face {
  font-display: auto;
  font-family: "Roboto-Mono";
  src: local("Roboto-Mono-BoldItalic"), url("../../fonts/roboto-mono/Roboto-Mono-BoldItalic.woff2") format("woff2"), url("../../fonts/roboto-mono/Roboto-Mono-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-display: auto;
  font-family: "Roboto-Mono-BoldItalic";
  src: local("Roboto-Mono-BoldItalic"), url("../../fonts/roboto-mono/Roboto-Mono-BoldItalic.woff2") format("woff2"), url("../../fonts/roboto-mono/Roboto-Mono-BoldItalic.woff") format("woff");
}
